.form__title-container{
  text-align: center;
}

.form__title{
  font-size: 1.88888888888889em; /*34/18*/
  font-weight: 100;
}

.form__subtitle{
  font-weight: 300;
  font-size:0.94444444444444em; /*17/18*/
  color:$color-grey-light;
}

.title--login{
  margin:2.22222222222222em 0px 3.33333333333333em; /*40/18 60/18*/
}


@media(min-width:1px) and (max-width:550px){
  .form__title-container{
    width:90%;
    margin:2.22222222222222em auto 3.33333333333333em;
  }




}

@media(min-width:1px) and (max-width:450px){

  .form__title{
    font-size: 1.7em; /*34/18*/
  }

  .form__subtitle{
    font-size:0.9em; /*17/18*/
  }
}
