.wrapper--image{
  width:58.333333333333%; /*180/1680*/
  height: 100%;
  float:left;
}

.wrapper--form{
  width:41.666666666667%; /*700/1680*/
  float:right;
}

.wrapper--table{
  display: table;
  height: 100%;
}


@media(min-width:951px) and (max-width:1230px){

  .wrapper--image{
    width:50%;
  }

  .wrapper--form{
    width:50%;
  }


}


@media(min-width:1px) and (max-width:950px){

  .wrapper--image{
    width:100%;
    height:25%;

  }

  .wrapper--form{
    width:100%;
    height:auto;
  }


}
