.form__error-container{

  font-size: 17px;
  font-weight: 300;
  padding:15px;
  border-radius: 6px;
  background:rgba(red,0.25);
  color:darken(red,10%);
  margin-bottom:30px;
  border:1px solid rgba(red,0.35);
}

.error__message{
  font-weight: 400;
  margin-bottom:10px;
}
