.form__message-container{

  font-size: 17px;
  font-weight: 300;
  padding:15px;
  border-radius: 6px;

  margin-bottom:30px;

}

.error__message{
  font-weight: 400;
  margin-bottom:10px;
}
.message--error{
  background:rgba(red,0.25);
  color:darken(red,10%);
  border:1px solid rgba(red,0.35);

}
.message--success{
  background:rgba(green,0.25);
  color:darken(green,5%);
  border:1px solid rgba(green,0.35);
}
